openapi: 3.0.3
info:
  title: AgentComms API
  version: 1.0.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: Open-source communications hub API for AI agents, built around agent identities, channel adapters, a unified inbox, and native provider surfaces.
servers:
  - url: https://api.agentcomms.dev/v1
security:
  - bearerApiKey: []
  - headerApiKey: []
paths:
  /agents:
    get:
      summary: List agents
      responses:
        "200":
          description: Agents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentsResponse"
    post:
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentCreate"
      responses:
        "201":
          description: Created agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentCreateResponse"
  /agents/{agent_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: Get an agent
      responses:
        "200":
          description: Agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
    put:
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
    delete:
      summary: Delete an agent
      responses:
        "204":
          description: Deleted
  /agents/{agent_id}/provision:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Provision additional channels for an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provision:
                  type: object
                  additionalProperties: true
                bridge:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Provisioning result
  /agents/{agent_id}/channels:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List channels
      responses:
        "200":
          description: Channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/Channel"
    post:
      summary: Provision or bridge a channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelCreate"
      responses:
        "201":
          description: Channel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
  /agents/{agent_id}/channels/{channel_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/ChannelId"
    get:
      summary: Get a channel
      responses:
        "200":
          description: Channel
    patch:
      summary: Update a channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
                  additionalProperties: true
                status:
                  type: string
      responses:
        "200":
          description: Channel
    delete:
      summary: Delete a channel
      responses:
        "204":
          description: Deleted
  /agents/{agent_id}/messages:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List unified inbox messages
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
        - name: channels
          in: query
          schema:
            type: string
          description: Comma-separated channel names.
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagesResponse"
    post:
      summary: Send a message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageSend"
      responses:
        "201":
          description: Sent
  /agents/{agent_id}/messages/{message_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/MessageId"
    get:
      summary: Get a message
      responses:
        "200":
          description: Message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
    delete:
      summary: Delete a message
      responses:
        "204":
          description: Deleted
  /agents/{agent_id}/messages/{message_id}/reply:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/MessageId"
    post:
      summary: Reply to a message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                body_html:
                  type: string
      responses:
        "201":
          description: Sent
  /agents/{agent_id}/messages/{message_id}/read:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/MessageId"
    post:
      summary: Mark a message read
      responses:
        "204":
          description: Marked read
  /agents/{agent_id}/wait:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Long-poll for a message
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WaitRequest"
      responses:
        "200":
          description: Message
  /agents/{agent_id}/extract-otp:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Extract an OTP from recent messages
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OtpRequest"
      responses:
        "200":
          description: OTP result
  /agents/{agent_id}/threads:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List threads
      responses:
        "200":
          description: Threads
  /agents/{agent_id}/threads/{thread_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a thread
      responses:
        "200":
          description: Thread
  /agents/{agent_id}/drafts:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List drafts
      responses:
        "200":
          description: Drafts
    post:
      summary: Create a draft
      responses:
        "201":
          description: Draft
  /agents/{agent_id}/drafts/{draft_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - name: draft_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a draft
      responses:
        "200":
          description: Draft
    patch:
      summary: Update a draft
      responses:
        "200":
          description: Draft
    delete:
      summary: Delete a draft
      responses:
        "204":
          description: Deleted
  /agents/{agent_id}/webhooks:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List webhooks
      responses:
        "200":
          description: Webhooks
    post:
      summary: Create a webhook
      responses:
        "201":
          description: Webhook
  /agents/{agent_id}/webhooks/{webhook_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - name: webhook_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a webhook
      responses:
        "200":
          description: Webhook
    patch:
      summary: Update a webhook
      responses:
        "200":
          description: Webhook
    delete:
      summary: Delete a webhook
      responses:
        "204":
          description: Deleted
  /api-keys:
    get:
      summary: List API keys
      responses:
        "200":
          description: API keys
    post:
      summary: Create an API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyCreate"
      responses:
        "201":
          description: API key and plaintext secret
  /api-keys/{key_id}:
    parameters:
      - name: key_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Revoke an API key
      responses:
        "204":
          description: Revoked
  /vault:
    get:
      summary: List vault items
      responses:
        "200":
          description: Vault items
    post:
      summary: Create a vault item
      responses:
        "201":
          description: Vault item
  /vault/{vault_id}:
    parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a vault item
      responses:
        "200":
          description: Vault item
    delete:
      summary: Delete a vault item
      responses:
        "204":
          description: Deleted
  /vault/{vault_id}/totp:
    parameters:
      - name: vault_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get current TOTP code
      responses:
        "200":
          description: TOTP code
  /personas:
    get:
      summary: List personas
      responses:
        "200":
          description: Personas
    post:
      summary: Create a persona
      responses:
        "201":
          description: Persona
  /personas/{persona_id}:
    parameters:
      - name: persona_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a persona
      responses:
        "200":
          description: Persona
    patch:
      summary: Update a persona
      responses:
        "200":
          description: Persona
    delete:
      summary: Delete a persona
      responses:
        "204":
          description: Deleted
  /domains:
    get:
      summary: List domains
      responses:
        "200":
          description: Domains
    post:
      summary: Register a domain
      responses:
        "201":
          description: Domain
  /domains/{domain_id}:
    parameters:
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a domain
      responses:
        "200":
          description: Domain
    delete:
      summary: Delete a domain
      responses:
        "204":
          description: Deleted
  /domains/{domain_id}/verify:
    parameters:
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Verify domain DNS state
      responses:
        "200":
          description: Domain
  /domains/{domain_id}/zone-file:
    parameters:
      - name: domain_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Render DNS zone file
      responses:
        "200":
          description: Zone file
  /agents/{agent_id}/slack/workspaces:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List Slack workspaces
      responses:
        "200":
          description: Workspaces
  /agents/{agent_id}/slack/workspaces/{team_id}/channels:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/TeamId"
    get:
      summary: List Slack channels
      responses:
        "200":
          description: Channels
  /agents/{agent_id}/slack/workspaces/{team_id}/channels/{channel_id}/messages:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/TeamId"
      - $ref: "#/components/parameters/ChannelId"
    get:
      summary: List Slack channel messages
      responses:
        "200":
          description: Messages
    post:
      summary: Post Slack channel message
      responses:
        "200":
          description: Message
  /agents/{agent_id}/slack/workspaces/{team_id}/users/{user_id}/messages:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - $ref: "#/components/parameters/TeamId"
      - name: user_id
        in: path
        required: true
        schema:
          type: string
    post:
      summary: Send Slack DM
      responses:
        "200":
          description: Message
  /agents/{agent_id}/telegram/chats:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List Telegram chats
      responses:
        "200":
          description: Chats
  /agents/{agent_id}/telegram/chats/{chat_id}/messages:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: List Telegram messages
      responses:
        "200":
          description: Messages
    post:
      summary: Send Telegram message
      responses:
        "200":
          description: Message
  /agents/{agent_id}/push/devices:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    get:
      summary: List push devices
      responses:
        "200":
          description: Devices
    post:
      summary: Register push device
      responses:
        "201":
          description: Device
  /agents/{agent_id}/push/devices/{device_id}:
    parameters:
      - $ref: "#/components/parameters/AgentId"
      - name: device_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Delete push device
      responses:
        "204":
          description: Deleted
  /agents/{agent_id}/push/send:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Send push notification
      responses:
        "200":
          description: Send result
  /agents/{agent_id}/ai/categorize:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Categorize a message
      responses:
        "200":
          description: Categories
  /agents/{agent_id}/ai/extract:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Extract structured data
      responses:
        "200":
          description: Extracted data
  /agents/{agent_id}/ai/summarize:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Summarize text, a message, or a thread
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SummarizeRequest"
      responses:
        "200":
          description: Summary
  /agents/{agent_id}/ai/search:
    parameters:
      - $ref: "#/components/parameters/AgentId"
    post:
      summary: Semantic search
      responses:
        "200":
          description: Search results
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
    headerApiKey:
      type: apiKey
      in: header
      name: x-api-key
  parameters:
    AgentId:
      name: agent_id
      in: path
      required: true
      schema:
        type: string
        example: agt_01JABC
    ChannelId:
      name: channel_id
      in: path
      required: true
      schema:
        type: string
        example: chan_em_01JABC
    MessageId:
      name: message_id
      in: path
      required: true
      schema:
        type: string
        example: msg_01JABC
    TeamId:
      name: team_id
      in: path
      required: true
      schema:
        type: string
        example: T012ABC
  schemas:
    AgentCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        metadata:
          type: object
          additionalProperties: true
        provision:
          type: object
          additionalProperties: true
        bridge:
          type: object
          additionalProperties: true
    Agent:
      type: object
      properties:
        agent_id:
          type: string
        name:
          type: string
        metadata:
          type: object
          additionalProperties: true
    AgentsResponse:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
    AgentCreateResponse:
      type: object
      properties:
        agent_id:
          type: string
        name:
          type: string
        channels:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
    ChannelCreate:
      type: object
      required: [channel]
      properties:
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
          description: Built-in channel or external adapter slug.
        mode:
          type: string
          enum: [provision, bridge]
          default: provision
        config:
          type: object
          additionalProperties: true
    Channel:
      type: object
      properties:
        channel_id:
          type: string
        agent_id:
          type: string
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
        mode:
          type: string
        status:
          type: string
        config:
          type: object
          additionalProperties: true
    MessageSend:
      type: object
      required: [to]
      properties:
        to:
          oneOf:
            - type: string
            - type: object
              additionalProperties: true
        body:
          type: string
        body_text:
          type: string
        body_html:
          type: string
        subject:
          type: string
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
        thread_key:
          type: string
    SummarizeRequest:
      type: object
      properties:
        text:
          type: string
        message_id:
          type: string
        thread_key:
          type: string
        length:
          type: string
          enum: [short, long]
      description: "Provide exactly one source field: text, message_id, or thread_key."
    Message:
      type: object
      properties:
        message_id:
          type: string
        agent_id:
          type: string
        channel_id:
          type: string
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
        direction:
          type: string
          enum: [inbound, outbound]
        status:
          type: string
        from:
          $ref: "#/components/schemas/Party"
        to:
          type: array
          items:
            $ref: "#/components/schemas/Party"
        subject:
          type: string
        body_text:
          type: string
        body_html:
          type: string
        thread_key:
          type: string
        is_dm:
          type: boolean
        labels:
          type: array
          items:
            type: string
        received_at:
          type: string
          format: date-time
        channel_native:
          type: object
          additionalProperties: true
    Party:
      type: object
      required: [address]
      properties:
        address:
          type: string
        display_name:
          type: string
        platform_user_id:
          type: string
    MessagesResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
        next_cursor:
          type: string
    WaitRequest:
      type: object
      properties:
        timeout_sec:
          type: integer
          default: 25
        from:
          type: string
        subject_contains:
          type: string
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
        channels:
          type: array
          items:
            type: string
            pattern: "^[a-z][a-z0-9_-]{0,62}$"
    OtpRequest:
      type: object
      properties:
        max_age_sec:
          type: integer
          default: 300
        from:
          type: string
        channel:
          type: string
          pattern: "^[a-z][a-z0-9_-]{0,62}$"
        channels:
          type: array
          items:
            type: string
            pattern: "^[a-z][a-z0-9_-]{0,62}$"
    ApiKeyCreate:
      type: object
      required: [name, scope]
      properties:
        name:
          type: string
        scope:
          type: string
          enum: [org, agent, channel]
        agent_id:
          type: string
        channel_id:
          type: string
        expires_at:
          type: string
          format: date-time
